.card {
	cursor: pointer;
}

.item.wall-number {
  text-align: center;
  padding: 11rem 0;
}

.wall-text {
	font-size: 3rem;
}

.swipe-left {
	float: left;
}

.swipe-right {
	float: right;
}

.score {
	text-align: center;
	padding: 0;
	margin-top: 0;
}

.job_name {
	text-align: center;
	margin-bottom: 0;
}